{% extends 'layouts/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col mt-5">
            <h1> {{ selected.name }}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-xl-6 mt-2">
            <div class="game_selected_poster">
                <img class="game_selected_poster" src="{{ selected.preview.url }}" alt="Постер игры">
            </div>

        </div>

        <div class="col col-xl-6 mt-3">
            <div class="game_selected_info">
                <p>{{ selected.genre}}</p>
                <p>{{ selected.date }}</p>
                <p>{{ selected.description}}
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col mt-4">
            <div id="screenshotsCarousel" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                      <h1 class="mb-3">Скриншоты</h1>
                    {% for shot in selected.screenshots.all %}
                      <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ shot.image.url }}" class="d-block w-100" alt="Скриншот {{ forloop.counter }}">
                      </div>
                    {% endfor %}
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#screenshotsCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#screenshotsCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                  </button>
            </div>

        </div>
    </div>
</div>







{% endblock %}