{% extends "layouts/base.html" %}


{% block content %}

    <div class="container">
    <div class="row">
        <div class="col col-xl-5 text-block">
            <h1  class="mt-5 ">Портал твоей юности</h1>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, accusantium. Quos, ipsa architecto. Cupiditate incidunt fuga inventore quo possimus. Fugit voluptatibus perferendis doloremque molestias quibusdam quaerat sequi a provident asperiores quidem</p>
        </div>

        <div class=" col col-xl-7 text-block mt-5 d-flex justify-content-end">
             <img id="DeLorean" src="static/bootstrap/img/head/Screenshot_215.png" alt="DeLorean">
        </div>
    </div>

        <div class="row">
            <div class="col col-xl-4 text-block">
                <h1  class=" mt-5 ">Куда отправимся?</h1>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, accusantium. Quos, ipsa architecto. Cupiditate incidunt fuga inventore quo possimus. Fugit voluptatibus perferendis doloremque molestias quibusdam quaerat sequi a provident asperiores quidem</p>
            </div>
        </div>



        <div class="row mt-5 portal-blocks">
            <div class="col col-xl-6 mb-5">
                <div class="portal-images d-flex justify-content-center align-items-center">
                    <img class="portal-images-img" src="static/bootstrap/img/index/2017.png" alt="2017">

                </div>
            </div>

             <div class="col col-xl-6 mb-5 d-flex justify-content-end">
                 <div class="portal-images zeroseven d-flex justify-content-center align-items-center">
                     <img class="portal-images-img" src="static/bootstrap/img/index/2007.jpg" alt="2007">

                 </div>
            </div>
            <div class="col col-xl-6 mb-5">
                <div class="portal-images  d-flex justify-content-center align-items-center">
                    <img class="portal-images-img" src="static/bootstrap/img/index/1997.jpg" alt="2007">

                </div>

            </div>

            <div class="col col-xl-6 mb-5 d-flex justify-content-end">
                <div class="portal-images eightyeven d-flex justify-content-center align-items-center">
                    <p class="inside-portal"> 1987</p>

                </div>

            </div>

        </div>
        </div>


{% endblock %}