{% extends "layouts/base.html" %}


{% block content %}
<section class="content">
    <div class="row">
        <div class="col-xl-4 mx-5 text-block">
            <h1  class="mt-5 ">Портал твоей юности</h1>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, accusantium. Quos, ipsa architecto. Cupiditate incidunt fuga inventore quo possimus. Fugit voluptatibus perferendis doloremque molestias quibusdam quaerat sequi a provident asperiores quidem</p>
        </div>
        <div class="col-xl-4 mx-5 text-block">
            <p  class="text-center mt-5">Картинка</p>
            <img class="rounded mx-auto d-block" id="DeLorean" src="" alt="Затычка">
        </div>
    </div>

        <div class="row">
            <div class="col-xl-4 mx-5 text-block">
                <h1  class=" mt-5 ">Куда отправимся?</h1>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, accusantium. Quos, ipsa architecto. Cupiditate incidunt fuga inventore quo possimus. Fugit voluptatibus perferendis doloremque molestias quibusdam quaerat sequi a provident asperiores quidem</p>
            </div>
        </div>



        <div class="row mt-5 portal-blocks">
            <div class="col-xl-4  mb-5 mx-5">
                <div class="portal-images rounded mx-auto">
                    <p class="inside-portal text-center"> Пока что тут пусто</p>

                </div>
                <h5 class="text-center">2017</h5>
            </div>
             <div class="col-xl-4 mb-5 mx-5">
                 <div class="portal-images zeroseven rounded mx-auto">
                     <p class="inside-portal text-center"> Пока что тут пусто</p>

                 </div>
                <h5 class="text-center">2007</h5>
            </div>
            <div class="col-xl-4 mb-5 mx-5">
                <div class="portal-images  rounded mx-auto">
                    <p class="inside-portal text-center"> Пока что тут пусто</p>

                </div>
                <h5 class="text-center">1997</h5>

            </div>

            <div class="col-xl-4 mb-5 mx-5">
                <div class="portal-images eightyeven rounded mx-auto">
                    <p class="inside-portal text-center"> Пока что тут пусто</p>

                </div>
                <h5 class="text-center">1987</h5>

            </div>

        </div>

</section>

{% endblock %}