{% extends "layouts/base.html" %}


{% block content %}
<section class="content">
    <div class="container">
    <div class="row">
        <div class="col col-xl-5 text-block">
            <h1  class="mt-5 ">Портал твоей юности</h1>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, accusantium. Quos, ipsa architecto. Cupiditate incidunt fuga inventore quo possimus. Fugit voluptatibus perferendis doloremque molestias quibusdam quaerat sequi a provident asperiores quidem</p>
        </div>

        <div class=" col col-xl-6 text-block mt-5 d-flex justify-content-end">
            <img id="DeLorean" src="" alt="Затычка">
        </div>
    </div>

        <div class="row">
            <div class="col col-xl-4 text-block">
                <h1  class=" mt-5 ">Куда отправимся?</h1>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, accusantium. Quos, ipsa architecto. Cupiditate incidunt fuga inventore quo possimus. Fugit voluptatibus perferendis doloremque molestias quibusdam quaerat sequi a provident asperiores quidem</p>
            </div>
        </div>



        <div class="row mt-5 portal-blocks">
            <div class="col col-xl-6 mb-5">
                <div class="portal-images d-flex justify-content-center align-items-center">
                    <p class="inside-portal text-center"> 2017</p>

                </div>
            </div>

             <div class="col col-xl-6 mb-5 d-flex justify-content-end">
                 <div class="portal-images zeroseven d-flex justify-content-center align-items-center">
                     <p class="inside-portal text-center"> 2007</p>

                 </div>
            </div>
            <div class="col col-xl-6 mb-5">
                <div class="portal-images  d-flex justify-content-center align-items-center">
                    <p class="inside-portal text-center"> 1997</p>

                </div>

            </div>

            <div class="col col-xl-6 mb-5 d-flex justify-content-end">
                <div class="portal-images eightyeven d-flex justify-content-center align-items-center">
                    <p class="inside-portal text-center"> 1987</p>

                </div>

            </div>

        </div>
        </div>

</section>

{% endblock %}