<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'player/player-style.css' %}">
    <title>NostalgiaEra</title>

</head>
<body>


<header>
    <div class="container">
        <div class="d-flex logos">
            <a href="{% url 'main:home' %}">
                <span class="nostalgia-word">Nostalgia</span><span class="era-word">Era</span>
            </a>

            <a href="{% url 'auth:login' %}" class="ms-auto mt-3">
            <div class="login-place hstack gap-3">
                <div class="login-square d-flex justify-content-center align-items-center"><img src="{% static 'icons/person.svg' %}" alt="Иконка логина" class="ikonochka"> </div>
                <p class="login-status mt-3 mx-3">
                {% if user.is_authenticated %}
                    {{ user.username }}
                {% else %}
                    Авторизация
                {% endif %}
                </p>
            </div>
            </a>

        </div>

        <section class="buttons d-flex ">
            <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-intop" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Выбор таймлайна ({{ global_year }})
    </button>
    <ul class="dropdown-menu">
        {% for year_item in available_years %}
            <li>
                <a class="dropdown-item" href="?year={{ year_item.value }}">
                    {{ year_item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
            <button type="button" class="btn btn-intop"><a class="btn-link" href="{% url 'videos:videos_index' %}">Видео </a></button>
            <button type="button" class="btn btn-intop"><a href="{% url 'musics:musics_index' %}" class="btn-link">Музыка</a></button>
            <button type="button" class="btn btn-intop"><a href="{% url 'games:games_index' %}" class="btn-link">Игры</a></button>
        </section>
    </div>
</header>

{% block content %}
{% endblock %}

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'player/Mplayer.js' %}"></script>

</body>
</html>